<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<style>
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #D5D3D3
}
</style>
</h:head>


<h:body>
	<h:form>

		<h:graphicImage library="images" name="solviaLogo.png" width="100px"></h:graphicImage>
		<h:graphicImage library="images" name="TCMB-Logo.jpg" width="150px"></h:graphicImage>
		<br></br>
		<h4>calendar</h4>
	
	date1 = <p:calendar value="#{xdateView.date1}" placeholder="yyyy-MM-dd" pattern="yyyy-MM-dd" pages="1"></p:calendar>
	date2 = <p:calendar value="#{xdateView.date2}" placeholder="yyyy-MM-dd" pattern="yyyy-MM-dd" pages="1"></p:calendar>
		<br></br>
		<h:commandButton value = "selectDate" action="#{xdateView.parseTestDateContainsCalDate}"></h:commandButton><br></br>
		<h:outputText value = "#{xdateView.outputCalendarDateText}"></h:outputText>
		
		
		<h4>Currency</h4>
		<h:selectManyListbox value="#{xxxMertComboboxValues.combobox}">
			<f:selectItems value="#{xxxMertComboboxValues.allCurrencyKod}"></f:selectItems>
		</h:selectManyListbox>
		<br></br>
		<h:commandButton value="submitValue" action="#{xxxMertComboboxValues.getComboboxValue}"></h:commandButton>
		<br></br>	
		<h:commandButton value = "getExcelFile" action = "#{myExcelFile.getExcelFile}"></h:commandButton>
		<h:commandButton value = "getPdfFile" action = "#{MyPdfFile.getPdfFile}"></h:commandButton>
		<div style="overflow-x: auto;">
			<table>
				<thead>
					<tr>
						<td>Tarih</td>
						<td>CurrencyCode</td>
						<td>Unit</td>
						<td>Isim</td>
						<td>CurrencyName</td>
						<td>ForexBuying</td>
						<td>ForexSelling</td>
						<td>BanknoteBuying</td>
						<td>BanknoteSelling</td>
						<td>CrossRateUSD</td>
						<td>CrossRateOther</td>
					</tr>
				</thead>
				<tbody>
					<ui:repeat var="c" value="#{xxxMertComboboxValues.currencyList}">
						<tr>
							<td>#{c.tarih}</td>
							<td>#{c.currencyCode}</td>
							<td>#{c.unit}</td>
							<td>#{c.isim}</td>
							<td>#{c.currencyName}</td>
							<td>#{c.forexBuying}</td>
							<td>#{c.forexSelling}</td>
							<td>#{c.banknoteBuying}</td>
							<td>#{c.banknoteSelling}</td>
							<td>#{c.crossRateUSD}</td>
							<td>#{c.crossRateOther}</td>
						</tr>
						
					</ui:repeat>
				</tbody>
			</table>
		</div>
	</h:form>
</h:body>
</html>